<!DOCTYPE html>
<html>
<head><title>Resultat</title></head>
<body>
  <h2>Placering fundet</h2>
  <table border="1">
    <tr><th>Søgeord</th><th>Domæne</th><th>Placering</th></tr>
    <tr>
      <td><%= keyword %></td>
      <td><%= domain %></td>
      <td><%= position %></td>
    </tr>
  </table>
  <a href="/">Tilbage</a>
</body>
</html>
